<div class="container h-screen mx-auto">
  <div class="flex items-cente justify-center w-full">
    <%= form_with model: milestone do |f| %>
      <div class="my-6">
        <%= f.label :title, class: "text-md" %>
        <%= f.text_field :title, class: "border p-1 rounded-sm w-full" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :title %>
      </div>

      <div class="mb-6">
        <%= f.label :childhood_content, class: "text-md" %>
        <%= f.text_area :childhood_content, class: 'border rounded-md p-2 h-24 w-full', placeholder: "例：幼少期" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :childhood_content %>
      </div>

      <div class="mb-6">
        <%= f.label :adulthood_content, class: "text-md" %>
        <%= f.text_area :adulthood_content, class: 'border rounded-md p-2 h-24 w-full', placeholder: "例：青年期" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :adulthood_content %>
      </div>

      <div class="mb-10">
        <%= f.label :mature_age_content, class: "text-md" %>
        <%= f.text_area :mature_age_content, class: 'border rounded-md p-2 h-24 w-full', placeholder: "例：成人後" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :mature_age_content %>
      </div>

      <div class="text-center mb-6 sm:mb-10">
        <%= f.submit t('helpers.submit.submit'), class: "border border-slate-600 bg-slate-600 text-white w-1/4 font-thin cursor-pointer hover:text-black hover:bg-white hover:shadow-lg transition duration-200" %>
      </div>
    <% end %>

  </div>
</div>
