<meta name="turbo-cache-control" content="no-cache">
<meta name="turbo-visit-control" content="reload">

<div class="horizontalWrapper relative h-screen p-8 overflow-y-hidden sm:overflow-y-visible">
  <ul class="horizontals absolute top-0 left-0 flex h-full overflow-y-hidden md:min-h-[670px]">
    <li id="opening" class="flex items-center justify-center min-w-screen h-full px-8 bg-gray-400 text-white">
      <h1 class="text-5xl ml-20 font-noto font-thin"><%= @milestone.title %>の年表</h1>
      <div class="ml-20"><%= image_tag('path.png') %></div>
    </li>

    <li id="divide" class="min-w-fit">
      <%= image_tag('divide.png', class: 'h-full size-fit') %>
    </li>

    <li id="childhood" class="relative min-w-[1000px] md:min-w-[1300px] flex text-white bg-[#87CEEB]">

      <div class="w-5/12 absolute top-32 left-32 pr-16 bg-[#0756CE] border-2 border-white shadow-custom-shadow">
        <div class="textarea w-full py-4 pl-4 text-base break-words font-noto font-light z-10">
          <%= simple_format(@milestone.childhood_content, class: "line-clamp-15 leading-loose") %>
        </div>
      </div>

      <div class="absolute bottom-0 left-20 sm:left-0">
        <%= image_tag('people.png', class: "people h-64 z-50") %>
      </div>

      <div class="absolute top-0 right-32">
        <%= image_tag('ponyo.png', class: "ponyo h-20 z-50") %>
      </div>

      <div id="slider" class="flex absolute top-[35%] right-32 aspect-video w-[349px] md:w-[549px] bg-white border-8 border-white overflow-hidden shadow-custom-wide-shadow z-10">
        <% if @milestone.childhood_images.present? %>
          <% @milestone.childhood_images.each do |image| %>
            <div class="slide min-w-fit z-10">
              <img src="<%= image.url %>" class="aspect-video w-[349px] md:w-[549px]">
            </div>
          <% end %>
        <% else %>
          <div class="w-full">
            <%= image_tag('noise.jpg', class: "w-full h-full") %>
          </div>
        <% end %>
      </div>

    </li>


    <li id="adulthood" class="spikes relative min-w-[1000px] md:min-w-[1300px] text-black bg-[#F4A15A]">
      <div class="relative mx-auto w-11/12 h-screen mt-10">
        <div class="absolute top-[14%] left-20">
          <%= image_tag('board.png', class: "aspect-video min-w-[800px] md:min-w-[1000px] shadow-xl") %>
        </div>
        <div class="w-2/5 md:w-1/3 absolute top-[17%] left-24">
          <div class="textarea w-full pl-4 pr-10 md:pr-0 text-base break-words font-noto font-light z-10">
            <%= simple_format(@milestone.adulthood_content, class: "line-clamp-14 leading-loose") %>
          </div>
        </div>

        <div class="flex flex-col absolute top-[18%] right-24 md:right-44 space-y-10 mt-2">
          <div class="mx-auto aspect-square w-[170px] md:w-[210px] bg-white border border-dashed rounded-full border-black/50 z-10">
            <%= image_tag(@milestone.adolescence_image.url, class: "aspect-square w-[170px] md:w-[210px] rounded-full") %>
          </div>

          <div class="aspect-video w-[250px] md:w-[350px] bg-white border border-dashed border-black/50 z-10">
            <%= image_tag(@milestone.adulthood_image.url, class: "aspect-video w-[250px] md:w-[350px]") %>
          </div>

          <div class="absolute -top-[24%] md:-top-[19%] right-[34%] md:right-[38%] transform rotate-[20deg] z-50">
            <%= image_tag('tape2.png', class: "h-20") %>
          </div>
          <div class="absolute bottom-[26%] md:bottom-[33%] -right-[13%] md:-right-[8%] transform rotate-45 z-50">
            <%= image_tag('tape.png', class: "h-20") %>
          </div>
          <div class="absolute -bottom-[8%] md:-bottom-[6%] -left-[12%] md:-left-[8%] transform rotate-45 z-50">
            <%= image_tag('tape.png', class: "h-20") %>
          </div>

        </div>
      </div>

      <div class="absolute top-0 right-24 md:right-32">
        <%= image_tag('spider.png', class: "spider h-60 z-50") %>
      </div>

    </li>

    <li id="mature_age" class="spikes min-w-screen h-screen text-white relative flex items-center justify-center bg-[#2B2762]">
      <div class="flex flex-col w-5/6 space-y-20 md:space-y-14">
        <div class="mx-auto justify-center aspect-video w-5/6 min-w-[300px] md:min-w-[400px] max-w-[650px] bg-black border border-black/50 z-10">
          <%= image_tag(@milestone.mature_age_image.url, class: "w-full aspect-video min-w-[300px] md:min-w-[400px]] max-w-[650px]") %>
        </div>

        <div class="textarea w-full max-w-[900px] mx-auto border rounded-sm p-4 text-base leading-tight break-words font-noto font-light">
          <%= simple_format(@milestone.mature_age_content, class: "line-clamp-6 leading-loose mx-4") %>
        </div>
      </div>

      <div class="absolute top-[10%] md:top-[5%] left-[4%]">
        <%= image_tag('ghost.png', class: "h-20 z-50") %>
      </div>

      <div class="absolute bottom-24 md:bottom-10 right-2 md:right-[5%]">
        <%= image_tag('teresa.png', class: "h-20 z-50") %>
      </div>

    </li>

  </ul>
</div>
