<div id="<%= dom_id(user) %>">
  <div class="group flex flex-col h-20 p-3 border border-black/50 rounded-md overflow-hidden transition duration-500 hover:shadow-2xl hover:bg-white">
    <div class="flex flex-col items-center">
      <div class="flex-grow w-full relative">
        <%= link_to user_path(user) do %>
          <div class="flex">
            <div class="relative -left-8 -top-5">
              <%= image_tag(user.avatar.url, class: 'border border-2 rounded-full size-24 group-hover:shadow-2xl grayscale group-hover:filter-none group-hover:rotate-12 transition duration-500') %>
            </div>
            <div>
              <%= user.name %>
              <div class="flex text-xs gap-2 pt-2 text-muted-foreground">
                <p>フォロー中: <%= user.followees.count %></p>
                <p>フォロワー: <%= user.followers.count %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
