<div class="container h-screen mx-auto" >
  <div class="h-full flex items-center justify-center">
    <%= form_with model: @user do |f| %>
      <div class="pt-6">
        <%= f.label :name, t(".name"), class: "text-sm" %>
        <%= f.text_field :name, class: "w-full border-b border-black/50 bg-transparent focus:bg-white focus:border-white focus:bg-opacity-50 focus:shadow-md transition duration-500 rounded-none outline-none" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :name %>
      </div>

      <div class="py-8">
        <%= f.label :email, t(".email"), class: "text-sm" %>
        <%= f.text_field :email, class: "w-full border-b border-black/50 bg-transparent focus:bg-white focus:border-white focus:bg-opacity-50 focus:shadow-md transition duration-500 rounded-none outline-none" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :email %>
      </div>

      <div class="pb-8">
        <%= f.label :password, t(".password"), class: "text-sm" %>
        <%= f.text_field :password, class: "w-full border-b border-black/50 bg-transparent focus:bg-white focus:border-white focus:bg-opacity-50 focus:shadow-md transition duration-500 rounded-none outline-none" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :password %>
      </div>

      <div class="pb-2 md:mb-8">
        <%= f.label :password_confirmation, t(".password_confirmation"), class: "text-sm" %>
        <%= f.text_field :password_confirmation, class: "w-full border-b border-black/50 bg-transparent focus:bg-white focus:border-white focus:bg-opacity-50 focus:shadow-md transition duration-500 rounded-none outline-none" %>
        <%= render 'shared/error_message_for_field', object: f.object, attribute: :password_confirmation %>
      </div>

      <div class="text-center my-4">
        <%= f.submit t('.submit'), class: "w-1/4 cursor-pointer font-thin text-white border border-slate-600 bg-slate-600 hover:text-black hover:bg-white hover:shadow-lg transition duration-200" %>
      </div>
    <% end %>
  </div>
</div>
