<div class="container h-screen mx-auto" >
  <div class="h-full flex items-center justify-center pb-8">
    <%= form_with url: login_path do |f| %>
      <div>
        <%= f.label :email, t(".email"), class: "text-sm" %>
        <%= f.text_field :email, class: "w-full border-b border-black/50 bg-transparent rounded-none outline-none" %>
      </div>

      <div class="my-8">
        <%= f.label :password, t(".password"), class: "text-sm" %>
        <%= f.text_field :password, class: "w-full border-b border-black/50 bg-transparent rounded-none outline-none" %>
      </div>

      <div class="text-center pt-4">
        <%= f.submit t('.login'), class: "w-1/4 cursor-pointer font-thin text-white border border-slate-600 bg-slate-600 hover:text-black hover:bg-white hover:shadow-lg transition duration-200" %>
      </div>
    <% end %>
  </div>
</div>
